.notification-container {
	position: absolute;
	top: 12px;
	left: 30vw;
	background-color: #3f4e4f;
	padding: 10px;
	border-radius: 12px;
	display: flex;
	flex-direction: row;
	align-items: center;
	box-shadow: 0px 17px 21px -15px #111;

	.notification-icon {
		margin-left: 5px;
	}

	.notification-text {
		margin-left: 12px;
		color: #ddd;
		font-weight: 500;
		font-family: 'Poppins';
		font-size: 16px;
	}
}
